*{
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.App{
}
.container2{
  width: 90%;
  margin: auto;
 /* overflow-y: auto;*/
}
.ui.menu{
  border: none !important;
  box-shadow: none !important;
  border-radius: .28571429rem;
  min-height: 2.85714286em;

}
.ui.menu .item:before {
  position: absolute;
  content: '';
  top: 0;
  display: none;
  right: 0;
  height: 100%;
  width: 1px;
  background: rgba(34,36,38,.1);
}
.d-in-block{
  display: inline-block !important;
}

@media only screen and (max-width: 600px) {
  .d-sm-block_force {
    display: inline-block!important;
  }
  .d-none-custom{
    display: none !important;

  }
  }
.loginlink{
  background: black;
  width: 100%;
  padding: 10px;
  display: block;
  color: white !important;
  text-align: center !important;
}
.registerlink{
  width: 100%;
  padding: 10px;
  display: block;
  color: gray !important;
  text-align: center !important;
}
.bg-light{
  background-color: #fff !important;
}
.right{
  float: right;
}

 .count-cart {
  position: absolute;
  top: -8px;
  right: 26px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background-color: #d0021b;
  text-align: center;
  line-height: 12px;
  color: #fff;
  font-size: 12px;
  font-family: ExpoArabic-Medium;
}
.ui.card {
  margin: 1em 0;
  text-align: center;
}
.ui.card>.content>.header:not(.ui), .ui.cards>.card>.content>.header:not(.ui) {
  font-weight: 700;
  margin-top: 10px !important;
  font-size: 1.28571429em;
  margin-top: -.21425em;
  line-height: 1.28571429em;
}
.discount{
  background-color: rgba(207,20,43,.11);
  text-align: center;
  font-size: 11px;
  color: #cf142b;
  font-family: din-next-lt-w23-bold;
  padding: 3px 8px;
  direction: ltr;
}

.rounded-circle{
background: hsla(0,0%,100%,.17);
width: 3rem;
height: 3rem;
}
.pink{
  color: #feaebb;
  font-weight: 400;
  font-size: 2rem;
}
.h6, h6 {
  font-size: 1.5rem;
}
.main-footer .categories h6 {
  display: inline-block;
  margin: 0;
  padding: 10px 15px;
  border-radius: 10px;
  transition: all .2s ease-in-out;
}
ul li{
  list-style: none;
}
.main-footer .categories h6 a,h6 a{
  color: black;
  padding: 15px 0px;
  text-decoration: none !important;
}

.title-footer{
  padding: 5px 15px;
}
.social-media{
  padding: 0px;
}
.main-footer .social-media li {
  margin-left: 12px;
  display: inline-block;
}
.main-footer .link li {
  margin-bottom: 14px;
}
.modalCart{
  width: 35% !important;
    height: 100vh;
    z-index: 10030 !important;
    transition: display 1s ease-out;  }
.sticky-top {
  position: sticky;
  top: 0;
  z-index: 100 !important;
}
.fa-times{
  position: absolute;
  top: 10px;
  right: 12px;
}

.ui.progress.success .bar {
  /* background-color: #21ba45!important; */
  background-image: linear-gradient( 
90deg
,#7e038a,#ee92ff);
}
.productDes,.productTit{
  height: 70px;
  overflow: hidden;
}
.wight-cart {
  padding: 40px 20px;
  border-bottom: 2px solid hsla(0,0%,88.2%,.5);
  background-color: #fff;
  position: relative;
  margin-top: 10px;
}
.wight-cart .thumb img {
  width: 90px;
}
.wight-cart .title {
  font-size: 14px;
  margin-bottom: 6px;
  line-height: 1.51;
  color: #000;
}
.wight-cart .single-price {
  font-size: 12px;
  color: rgba(0,0,0,.54118);
  margin-bottom: 8px;
}
.counter-section{
  width: 90px;
  border: 1px solid #e9e9e9;
  display: flex;
  justify-content: space-between;
  padding: 6px 8px;
  align-items: center;
  text-align: center;
  color: #000;
  border-radius: 3px;
}
.wight-cart .total-price {
  font-size: 14px;
  color: #000;
  font-family: din-next-lt-w23-Medium;
}
.position{
  position: absolute !important;
  top: -5px;
  left: -21px;
}
 .footer-cart {
  bottom: 19px;
  position: fixed;
  text-align: center;
  background-color: #fff;
  width: 90%;
}
 .footer-cart .total {
  font-size: 14px;
  color: #000;
  font-family: din-next-lt-w23-regular;
  font-weight: 700;
  margin-bottom: 15px;
}
.action_button_lg, .action_button_small {
  background: #000;
  color: #fff!important;
  border-radius: 4px;
  font-size: 16px;
  width: 100%;
    padding: 15px;
  cursor: pointer;
}
.box-form {
  background: #fff;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 2px 1px #e9e9e9;
}
.box-form div:not(:last-child) input {
  border-bottom: 1px solid #e2e2e2;
}
.box-form .vue-tel-input, .box-form input {
  border: none;
  width: 100%;
  padding: 10px;
  background: #fff!important;
}
.posAb{
  position: absolute;
  width: 90%;
  bottom: 31px;
}
.cartListProducts{
  overflow: scroll;
  height: 480px; 
}
.carousel.carousel-slider{
  width: 70% !important;
  display: inline-block;
}
.carousel:nth-child(2){
  width: 20% !important;
  display: inline-block;
  position: absolute !important;
  top: 10%;
  margin-left: 8%;
}
.carousel .thumbs{
  padding: 0px;
}
.carousel .thumbs-wrapper {
  margin: 20px 0px 20px 40px !important;
 /* overflow: hidden;*/
}
.carousel .thumbs li{
  display:block;
  margin-top: 10px;
}
.thumbs{
  transform: translate3d(0px, 0px, 0px) !important;
  transition-duration: 350ms;
}
.fa-star {
  font-size: 16px;
  color: #f5c523;
}
.add-cart-btn {
  color: #fff;
  background-color: grey;
}
 .add-cart-btn {
  width: 300px;
  height: 48px;
  border-radius: 8px;
  background-color: #000;
  line-height: 49px;
  color: #fff;
  text-align: center;
  font-size: 15px;
  font-weight: 700;
  padding: 0;
  display: inline-block;
}
.tax-text{
  display: block;
    color: gray;
    font-size: 15px;
}
.productDetail .selection{
  width: 60% !important;
}
.productDetail{
padding-bottom: 50px;
background-color: white;
margin-top: 20px;
}
.ui.card, .ui.cards>.card {
  max-width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  /* width: 290px; */
  margin: 10px !important;
  min-height: 0;
  background: #fff;
  padding: 0;
  border: none;
  border-radius: .28571429rem;
  box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
  transition: box-shadow .1s ease,transform .1s ease;
  z-index: '';
}
html {
  font-family: sans-serif;
  scroll-behavior: auto;
  /*overflow-y: scroll !important;*/
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
 /* overflow: auto;*/
  /*overflow-x: auto !important;*/
  overflow-y: auto;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}
.brand a img {
  height: 70px;
  -o-object-fit: contain;
  object-fit: contain;
}

img {
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}
 .quality-product {
  font-size: 14px;
  font-weight: 700;
  color: #73be22;
  line-height: normal;
}
 .text-notice {
  color: rgba(0,0,0,.54118);
  font-size: 13px;
  font-weight: 400;
}
.text-notice h2 {
  font-size: 16px;
  display: inline;
  text-transform: capitalize;
}
 .text-notice a {
  color: #5436a3;
}
.main>div{
  margin: 10px 0px;
  border-radius: 8px;
  border: 1px solid #e5e5e5;
}
.productPrice .discountBadge {
  background-color: rgba(207,20,43,.11);
  text-align: center;
  font-size: 11px;
  color: #cf142b;
  font-family: din-next-lt-w23-bold;
  padding: 3px 8px;
  direction: ltr;
  float: right;
  
  margin-right: 25%;
}
.float-left{
  float: left;
}
.ui.fluid.dropdown {
  display: inline-block !important;
  width: 100%;
  float: right;
  min-width: 0;
}
.padding-custom{
  padding: 5.5rem 7rem!important;
  background-color: white !important;
}
.margin-auto{
  margin: auto !important;
}
.ui.card, .ui.cards>.margin-auto {
 margin: auto !important;
}
.orders .step{
  font-size: 12px !important;
}
.paymentMethods{
  background-color: white;
}
.white{
  background-color: #fff !important;
}
.right-float{
  float: right;
}
.review{
  display: inline-block;
    float: right;
}
.data-rating{
  display: inline-block !important;
}
.ui.progress .bar{
  height: 100% !important
}
.ui.dimmer {
  display: none;
  position: absolute;
  top: 0!important;
  left: 0!important;
  width: 100%;
  height: 100%;
  text-align: center;
  vertical-align: middle;
  padding: 1em;
  background-color: rgba(0,0,0,.5);
  opacity: 0;
  line-height: 1;
  animation-fill-mode: both;
  animation-duration: .5s;
  transition: background-color .5s linear;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  -webkit-user-select: none;
  user-select: none;
  will-change: opacity;
  z-index: 1000;
}